---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<h2>Articles currently submitted/under peer review</h2>
<ol reversed start="2">
<li><div class="myAltMcontainer"><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1101/2021.06.03.446830"></div></div>
<b>E. M. Dastin-van Rijn</b>, M. Harrison, and D. A. Borton (preprint).
<br><a href="https://www.biorxiv.org/content/10.1101/2021.06.03.446830v1">How do packet losses affect measures of averaged neural signals?</a>
</li>
</ol>

<h2>Peer-reviewed articles in international scientific journals</h2>
<ol reversed>
<li><div class="myAltMcontainer"><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1016/j.crmeth.2021.100010"></div></div>
<b>E. M. Dastin-van Rijn</b>, N. R. Provenza, J. S. Calvert, R. Gilron, A. B. Allawala, R. Darie, S. Syed, E. Matteson, G. S. Vogt, M. Avendano-Ortega, A. C. Vasquez, N. Ramakrishnan, D. N. Oswalt, K. R. Bijanki, R. Wilt, P. A. Starr, S. A. Sheth, W. K. Goodman, M. T. Harrison, D. A. Borton (in press)
<br><a href="https://www.cell.com/cell-reports-methods/fulltext/S2667-2375(21)00010-2">Uncovering biomarkers during therapeutic neuromodulation with PARRM: Period-based Artifact Reconstruction and Removal Method</a><img src="https://theonlydvr.github.io/academicpages.github.io/files/open_access.png" alt="OA" title="Open Access">
<br>Cell Reports Methods <a href="https://www.sciencedirect.com/science/article/pii/S2667237521000102?via%3Dihub">doi:10.1016/j.crmeth.2021.100010</a>
</li>
</ol>
<br>
<h2>Undergraduate honors thesis</h2><br>
<b>E. M. Dastin-van Rijn</b> (2021) <a href="https://theonlydvr.github.io/academicpages.github.io/files/papers/UGThesis.pdf">Enabling neural biomarker detection during adaptive neurostimulation therapies</a> <img src="https://theonlydvr.github.io/academicpages.github.io/files/open_access.png" alt="OA" title="Open Access">
